

* {
    padding: 0;
    margin: 0;
}

body {
    background: $mn-background;
}

html, body {
    color: $mn-colour;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

#container {
    display: block;
    margin: 0 auto;
    width: 100%;
}


//footer - common

.links > li {
    
    padding: 0 25px;
    font-size: 13px;
    letter-spacing: .1rem;
    display: inline-block;

    @media (max-width: 680px) {
        padding: 0 6px;
    } 
    
    @media (max-width: 400px) {
        padding: 0 0px;
        display: block;
        margin-left: 5px;
    }
}

.links li a {
    font-weight: 600;
    letter-spacing: .1rem;        
    color: #636b6f;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

section {
    background: $mn-background;

    h2 {
        text-align: center;
        margin-top: 20px;

        @media (max-width: 680px) {
            margin: 0 20px;
        }
    }
}