
//backgrounds:
$mn-background: #636b6f;
$hd-background: #636b6f;
$ft-background: #636b6f;
$nv-background: #636b6f;

//colours
$mn-colour: white;
$hd-colour: white;
$ft-colour: white;
$nav-background: white;



//fonts
$font-primary: arial;
$font-secondary: arial;

