.footer {
    background: $ft-background;
    color: $ft-colour;
    display: block;
    /* margin-top: 60px; */
    position: relative;
    top: 60px;
}

    .links {
        text-align: center;
        
        a {
        color: $ft-colour;
    }
    
}