.header {
    background: $hd-background; 
    color: $hd-colour;
    /* width: 50%; */
    width: 100%;
    /* margin: 0 auto; */
    /* display: block; */
    text-align: center;

    img#main_logo {
        border-radius: 50%;
        background-color: white;
        margin: 20px;
        width: 100px;
        display: inline-block;

    }

    h1 {
        text-align: center;
        width: 546px;
        display: inline-block;
        /* vertical-align: revert; */
        vertical-align: top;
        position: relative;
        top: 50px;
    }

    h2 {
        text-align: center;
    }

    .nav_container {
        background: $mn-background;

        /* width: 50%; */
        width: 100%;

        @import "nav";
        
    }
}