#nav {
    width: 100%;

    li {
        display: inline-block;
        font-weight: bold;

        > a {
            margin-left: 10px;
            color: blue;
            color: white;
            text-decoration: none;

            &:hover {
                color: yellow;
            }
        }
    }
}
